div.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
}

div.footer > span.credit{
    font-family: 'Fira Code', monospace;
    font-size: .8em;
}

div.footer > span.credit > a{
    color: #007AFF;
    font-weight: bold;
}